.main{
    display: flex;
    margin-left: 50px;
    justify-content: space-evenly;
}
.add{
    display: inline-block;
    margin-right: 300px;
    width: 400px;

}
.view{
    display: inline-block;
}
.content{
    margin-left: 20px;
}

